<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Tabs component</title>
</head>
<body>
    <section>
        <div class="container">
            <button class="btn active"><span class="material-icons">watch_later</span> Tab one</button>
            <button class="btn"><span class="material-icons">near_me</span> Tab two</button>
            <button class="btn"><span class="material-icons">favorite</span> Tab three</button>
        </div>
    </section>

    <section>
        <div class="container">
            <button class="btn active"><span class="material-icons">watch_later</span> Tab one</button>
            <button class="btn"><span class="material-icons">near_me</span> Tab two</button>
            <button class="btn"><span class="material-icons">favorite</span> Tab three</button>
            <button class="btn"><span class="material-icons">language</span> Tab four</button>
            <button class="btn"><span class="material-icons">shopping_cart</span> Tab five</button>
            <button class="btn"><span class="material-icons">account_balance</span> Tab six</button>
            <button class="btn"><span class="material-icons">watch_later</span> Tab seven</button>
            <button class="btn"><span class="material-icons">tips_and_updates</span> Tab eight</button>
            <button class="btn"><span class="material-icons">rocket_launch</span> Tab nine</button>
        </div>
    </section>

    <script src="script.js"></script>
</body>
</html>