<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Dialog component</title>
</head>
<body>
    <section class="base-container">
        <div class="container dialog-1">
            <h3>Dialog header</h3>
            <p>Dialog body text</p>
            <div class="links">
                <a href="#" class="action">Action 1</a>
                <a href="#" class="action">Action 2</a>
            </div>
        </div>
    
        <div class="container dialog-2">
            <h3>Dialog header</h3>
            <div class="links">
                <a href="#" class="action">
                    <span class="material-icons">account_circle</span>
                    Item 1
                </a>
                <a href="#" class="action">
                    <span class="material-icons">account_circle</span>
                    Item 2
                </a>
                <a href="#" class="action">
                    <span class="material-icons">account_circle</span>
                    Item 3
                </a>
            </div>
        </div>

        <div class="container dialog-3">
            <h3>Dialog header</h3>
            <div class="links">
            <div class="radio-input">
                <input type="radio" id="item1" name="item-list"  value="item1">
                <label for="item1">Item 1</label>
            </div>
            <div class="radio-input">
                <input type="radio" id="item2" name="item-list" value="item2">
                <label for="item2">Item 2</label>
            </div>
            <div class="radio-input">
                <input type="radio" id="item3" name="item-list" value="item3">
                <label for="item3">Item 3</label>
            </div>
            <div class="radio-input">
                <input type="radio" id="item4" name="item-list" value="item4">
                <label for="item4">Item 4</label>
            </div>
            </div>
            <div class="action">
            <a href="#">Action 1</a>
            <a href="#">Action 2</a>
            </div>
        </div>
    </section>
</body>
</html>