<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="cards.css">
    <title>card component</title>
</head>
<body>
    <section class="cards-container">
        <!-- 1. Card basic -->
        <div class="card-base-container card-1">
            <div class="img">
                <img src="card-image.jpg" alt="">
            </div>
            <div class="header">
                <h2>Our Changing Planet</h2>
                <h4>by Kurt Wagner</h4>
            </div>
            <div class="text">
                <p>Visit ten places on our planet that are undergoing the biggest changes today.</p>
            </div>
            <div class="links">
                <a href="#" class="btn-link">Read</a>
                <a href="#" class="btn-link">Bookmark</a>
                <a href="#" class="icon-link">
                    <span class="material-icons">
                        favorite_border
                    </span>
                </a>
                <a href="#" class="icon-link">
                    <span class="material-icons">
                        share
                    </span>
                </a>
                <a href="#" class="icon-link">
                    <span class="material-icons">
                        more_vert
                    </span>
                </a>
            </div>
        </div>

        <!-- 2. card with text over media -->
        <div class="card-base-container card-2">
            <div class="img">
                <img src="card-image.jpg" alt="">
            </div>
            <div class="header">
                <h2>Our Changing Planet</h2>
                <h4>by Kurt Wagner</h4>
            </div>
            <div class="text">
                <p>Visit ten places on our planet that are undergoing the biggest changes today.</p>
            </div>
            <div class="links">
                <a href="#" class="btn-link">Read</a>
                <a href="#" class="btn-link">Bookmark</a>
                <a href="#" class="icon-link">
                    <span class="material-icons">
                        favorite_outline
                    </span>
                </a>
                <a href="#" class="icon-link">
                    <span class="material-icons">
                        share
                    </span>
                </a>
                <a href="#" class="icon-link">
                    <span class="material-icons">
                        more_vert
                    </span>
                </a>
            </div>
        </div>

        <!-- 3. card basic header -->
        <div class="card-base-container card-3">
            <div class="img">
                <img src="card-image.jpg" alt="">
            </div>
            <div class="header">
                <h2>Our Changing Planet</h2>
                <h4>by Kurt Wagner</h4>
            </div>
            <div class="text">
                <p>Visit ten places on our planet that are undergoing the biggest changes today.</p>
            </div>
            <div class="links">
                <a href="#" class="btn-link">Read</a>
                <a href="#" class="btn-link">Bookmark</a>
                <a href="#" class="icon-link">
                    <span class="material-icons">
                        favorite_border
                    </span>
                </a>
                <a href="#" class="icon-link">
                    <span class="material-icons">
                        share
                    </span>
                </a>
                <a href="#" class="icon-link">
                    <span class="material-icons">
                        more_vert
                    </span>
                </a>
            </div>
        </div>

        <!-- 4. card with only buttons -->
        <div class="card-base-container card-4">
            <div class="img">
                <img src="card-image.jpg" alt="">
            </div>
            <div class="header">
                <h2>Our Changing Planet</h2>
                <h4>by Kurt Wagner</h4>
            </div>
            <div class="text">
                <p>Visit ten places on our planet that are undergoing the biggest changes today.</p>
            </div>
            <div class="links">
                <a href="#" class="btn-link">Read</a>
                <a href="#" class="btn-link">Bookmark</a>
                <a href="#" class="icon-link">
                    <span class="material-icons">
                        favorite_border
                    </span>
                </a>
                <a href="#" class="icon-link">
                    <span class="material-icons">
                        share
                    </span>
                </a>
                <a href="#" class="icon-link">
                    <span class="material-icons">
                        more_vert
                    </span>
                </a>
            </div>
        </div>

        <!-- 5. card with only icons -->
        <div class="card-base-container card-5">
            <div class="img">
                <img src="card-image.jpg" alt="">
            </div>
            <div class="header">
                <h2>Our Changing Planet</h2>
                <h4>by Kurt Wagner</h4>
            </div>
            <div class="text">
                <p>Visit ten places on our planet that are undergoing the biggest changes today.</p>
            </div>
            <div class="links">
                <a href="#" class="btn-link">Read</a>
                <a href="#" class="btn-link">Bookmark</a>
                <a href="#" class="icon-link">
                    <span class="material-icons">
                        favorite_border
                    </span>
                </a>
                <a href="#" class="icon-link">
                    <span class="material-icons">
                        share
                    </span>
                </a>
                <a href="#" class="icon-link">
                    <span class="material-icons">
                        more_vert
                    </span>
                </a>
            </div>
        </div>

        <!-- 6. card horizontal image text  -->
        <div class="card-base-container card-6">
            <div class="img">
                <img src="card-image.jpg" alt="">
            </div>
            <div class="header">
                <h2>Our Changing Planet</h2>
                <h4>by Kurt Wagner</h4>
            </div>
            <div class="text">
                <p>Visit ten places on our planet that are undergoing the biggest changes today.</p>
            </div>
            <div class="links">
                <a href="#" class="btn-link">Read</a>
                <a href="#" class="btn-link">Bookmark</a>
                <a href="#" class="icon-link">
                    <span class="material-icons">
                        favorite_border
                    </span>
                </a>
                <a href="#" class="icon-link">
                    <span class="material-icons">
                        share
                    </span>
                </a>
                <a href="#" class="icon-link">
                    <span class="material-icons">
                        more_vert
                    </span>
                </a>
            </div>
        </div>
    </section>
</body>
</html>