<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="chips.css">
    <title>Chips component</title>
</head>
<body>
    <section class="container">
        <div class="chip">
            <span class="material-icons user">account_circle</span>
            child1
            <span class="material-icons">close</span>
        </div>
        <div class="chip">
            <span class="material-icons user">account_circle</span>
            chip2 <span class="material-icons">close</span>
        </div>
        <div class="chip">
            <span class="material-icons user">account_circle</span>
            chip3 <span class="material-icons">close</span>
        </div>
        <div class="chip">
            <span class="material-icons user">account_circle</span>
            chip4 <span class="material-icons">close</span>
        </div>
        <div class="chip">
            <span class="material-icons user">account_circle</span>
            chip5 <span class="material-icons">close</span>
        </div>
        <div class="chip">
            <span class="material-icons user">account_circle</span>
            chip6 <span class="material-icons">close</span>
        </div>
        <div class="chip">
            <span class="material-icons user">account_circle</span>
            chip7 <span class="material-icons">close</span>
        </div>
        <div class="chip">
            <span class="material-icons user">account_circle</span>
            chip8 <span class="material-icons">close</span>
        </div>
        <div class="chip">
            <span class="material-icons user">account_circle</span>
            chip9 <span class="material-icons">close</span>
        </div>
        <div class="chip">
            <span class="material-icons user">account_circle</span>
            chip10 <span class="material-icons">close</span>
        </div>
    </section>
</body>
</html>