<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Drawer component</title>
</head>
<body>
    <section class="container">
        <div class="header">
            <h3>Title</h3>
            <h5>subtext</h5>
        </div>
        <div class="menus">
            <a href="#" class="link clicked">
                <span class="material-icons">inbox</span>
                Inbox        
            </a>
            <a href="#" class="link">
                <span class="material-icons">star</span>
                Star       
            </a>
            <a href="#" class="link">
                <span class="material-icons">send</span>
                Sent Mail        
            </a>
            <a href="#" class="link" id="option">
                <span class="material-icons">label</span>
                Categories       
            </a>
            <div class="options">
                <a href="#" class="link ">
                    <span class="material-icons">
                        people
                    </span>
                    Social
                </a>
                <a href="#" class="link">
                    <span class="material-icons">
                        info
                    </span>
                    Updates
                </a>
                <a href="#" class="link">
                    <span class="material-icons">
                        local_offer
                    </span>
                    Promotions
                </a>
            </div>
        </div>
    </section>

    <script src="script.js"></script>
</body>
</html>