<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Badge component</title>
</head>
<body>
    <section class="container">
        <p>
            Text with a badge 
            <span class="badge number">4</span>
        </p>
        <p>
            Text with a large badge 
            <span class="badge big-number">1</span>
        </p>
        <p>
            Button with a badge on the left 
            <button class="btn-action">Action 
                <span class="badge num-left">8</span>
            </button>
        </p>
        <p>
            Button toggles badge visibility 
            <button class="btn-hide">Hide
                <span class="badge num-hide">7</span>
            </button>
        </p>
        <p>
            Icon with a badge 
            <span class="icon-parent">
                <span class="material-icons">home</span>
                <span class="badge num-icon">15</span>
            </span>
        </p>
    </section>
</body>
</html>